@import url('https://fonts.googleapis.com/css?family=Asap+Condensed:700|Open+Sans&display=swap');

.menu {
    display: flex;
    justify-content: space-around;
}

.menu-item {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
}

.menu-breakfast, .menu-lunch {
    border-top: 5px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.order {
    display:flex;
    border: 5px;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 25px;
    color: #65382e;
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
}

.lunch, .breakfast, .client, .table, .order-title {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 25px;
    color: #65382e;
    text-align: center;
}

.modal {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 25px;
    color: #65382e;
    text-align: center;
}