@import url('https://fonts.googleapis.com/css?family=Asap+Condensed:700|Open+Sans&display=swap');

.menu-breakfast {
    border-top: 5px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

.menu-item {
    display: flex;
    justify-content: space-around;
}

.menu-lunch {
    border-top: 5px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

.order {
    display:flex;
    border: 5px;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 25px;
    color: #65382e;
    text-align: center;
}

.lunch, .breakfast, .client, .table, .order-title {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 25px;
    color: #65382e;
    text-align: center;
    
}

