@import url('https://fonts.googleapis.com/css?family=Asap+Condensed:700|Open+Sans&display=swap');


*{transition:all 0.3s ease-in-out;}

.nav {
  clear:both;
  overflow:auto;
  background-color: #424242;
  padding: 10px;
}

nav {
    float:right;
}

.logo img {
    float:left;
}

ul li {
  display: inline-block; 
  padding:15px;
}

.link {
  color: white;
  text-decoration: none;
  font-family: 'Asap Condensed', sans-serif;
  font-size: 35px;
}

.link:hover {
  color:orange;
}